In [193]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from dateutil import parser
from datetime import datetime
import json

In [194]:
welcome_survey = pd.read_csv('cs61a-welcome-survey-sp21.csv')

In [195]:
# rename to shorter column names

welcome_survey = welcome_survey.rename(columns={'On a scale from 1 to 5, how do you estimate your programming experience?':'ranking', 
                                                'What languages have you programmed in?': 'languages',
                                                'If you had prior programming experience, did you take any of the following courses?':'prior courses',
                                                'When did you start programming? If you\'re not sure, your best guess is fine.': 'age' 
                                               })

In [196]:
def level_filter(s):
    if type(s) is str and s != 'I have not programmed before':
        advanced_ages = np.arange(1, 13)
        intermediate_ages = np.arange(13, 17)
    
        
        age = int(s[:2])
        
        
        if age in advanced_ages:
            return "advanced"
        elif age in intermediate_ages:
            return "intermediate"
        else:
            return "beginner"
    else:
        return "beginner"

In [197]:
welcome_survey.head()

,id_email,ranking,languages,prior courses,age
0,56494.0,1,No languages yet!,NaN,15 - 16 years old
1,36187.0,2,"Python, Scratch/SNAP, R","Other High School programming course, Data 8",17 - 18 years old
2,50896.0,2,Python,NaN,17 - 18 years old
3,51691.0,2,"Python, Java, Scratch/SNAP","AP Computer Science A, CS 10",NaN
4,56346.0,3,"Python, Java","AP Computer Science A, Other High School progr...",15 - 16 years old

In [198]:
welcome_survey['level'] = welcome_survey['age'].map(level_filter)
welcome_survey.head()

,id_email,ranking,languages,prior courses,age,level
0,56494.0,1,No languages yet!,NaN,15 - 16 years old,intermediate
1,36187.0,2,"Python, Scratch/SNAP, R","Other High School programming course, Data 8",17 - 18 years old,beginner
2,50896.0,2,Python,NaN,17 - 18 years old,beginner
3,51691.0,2,"Python, Java, Scratch/SNAP","AP Computer Science A, CS 10",NaN,beginner
4,56346.0,3,"Python, Java","AP Computer Science A, Other High School progr...",15 - 16 years old,intermediate

In [199]:
welcome_survey = welcome_survey[['okpy_id', 'level']]
welcome_survey.head()

KeyError: "['okpy_id'] not in index"

In [200]:
welcome_survey.to_csv('sp21-levels.csv')