In [118]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from dateutil import parser
from datetime import datetime
import json

In [119]:
welcome_survey = pd.read_csv('cs61a-welcome-survey-sp22.csv')

In [120]:
# rename to shorter column names

welcome_survey = welcome_survey.rename(columns={'On a scale from 1 to 5, how do you estimate your programming experience?':'ranking', 
                                                'What languages have you programmed in?': 'languages',
                                                'If you had prior programming experience, did you take any of the following courses?':'prior courses',
                                                'When did you start programming? If you\'re not sure, your best guess is fine.': 'age' 
                                               })

In [121]:
def level_filter(s):
    if type(s) is str and s != 'I have not programmed before':
        advanced_ages = np.arange(17, 27)
        intermediate_ages = np.arange(13, 17)
        
        age = int(s[:2])
        
        if age in advanced_ages:
            return "advanced"
        elif age in intermediate_ages:
            return "intermediate"
    else:
        return "beginner"

In [122]:
welcome_survey.head()

,okpy_id,"How many semesters have you attended UC Berkeley, including this one?",What is/are your major(s)?,ranking,age,Which of the courses below have you taken before?,languages
0,71162,2,Chemical Engineering,2,15 - 16 years old,AP Computer Science A,Java
1,65488,2,EECS,2,17 - 18 years old,At least one online programming course (e.g. C...,JavaScript
2,71273,1,"Computer Science, Physics",2,12 years old or younger,At least one online programming course (e.g. C...,"Python, Java, JavaScript, Scratch/SNAP"
3,71286,2,"Computer Science, Mathematics",3,13 - 14 years old,"AP Computer Science A, At least one online pro...","Python, Java, C/C++, JavaScript"
4,65294,2,Bioengineering,2,17 - 18 years old,"CS 10 at UC Berkeley, AP Computer Science Prin...","Python, JavaScript"

In [123]:
welcome_survey['level'] = welcome_survey['age'].map(level_filter)
welcome_survey.head()

,okpy_id,"How many semesters have you attended UC Berkeley, including this one?",What is/are your major(s)?,ranking,age,Which of the courses below have you taken before?,languages,level
0,71162,2,Chemical Engineering,2,15 - 16 years old,AP Computer Science A,Java,intermediate
1,65488,2,EECS,2,17 - 18 years old,At least one online programming course (e.g. C...,JavaScript,advanced
2,71273,1,"Computer Science, Physics",2,12 years old or younger,At least one online programming course (e.g. C...,"Python, Java, JavaScript, Scratch/SNAP",None
3,71286,2,"Computer Science, Mathematics",3,13 - 14 years old,"AP Computer Science A, At least one online pro...","Python, Java, C/C++, JavaScript",intermediate
4,65294,2,Bioengineering,2,17 - 18 years old,"CS 10 at UC Berkeley, AP Computer Science Prin...","Python, JavaScript",advanced

In [125]:
welcome_survey = welcome_survey[['okpy_id', 'level']]
welcome_survey.head()

   okpy_id         level
0    71162  intermediate
1    65488      advanced
2    71273          None
3    71286  intermediate
4    65294      advanced

In [126]:
welcome_survey.to_csv('sp22-levels.csv')